@import '../settings/vars';

.banner{
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: $primaryColor;

    .banner__content {
        color: $secondaryColor;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;

        h1{
            font-style: normal;
            font-weight: 900;
            font-size: 50px;
            line-height: 62px;
            color: #FFFFFF;
            width: 100%;

            .name-web{
                color: #2AA7EE;
            }
        }

        .banner__form {
            margin-top: 20px;
            form {
                width: 100%;
                display: flex;
                input, .input-group input{
                    width: 50%;
                    height: 42px;
                    border: none;
                    border-radius: 24px;
                    padding-left: 15px;
                    background-color: #FFFFFF;

                    &:focus, &:active{
                        outline: none;
                        box-shadow: none;
                    }
                }
                .input-group {
                    margin-left: 5px;
                    width: 50%;
                    input {
                        border-top-right-radius: 24px !important;
                        border-bottom-right-radius: 24px !important;
                        &:focus, &:active{
                            outline: none;
                            box-shadow: none;
                        }
                    }
                    button {
                        position: absolute;
                        border: $secondaryColor;
                        background-color: rgb(255, 255, 255);
                        z-index: 999;
                        right: 0;
                        width: 42px;
                        height: 42px;
                        border-radius: 24px;
                        &:focus, &:active{
                            outline: none;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}
    
@media screen and (max-width: 500px){
    .banner{
        .banner__content {
            width: 100%;
            padding: 20px;
        }
    }
    
}
@media screen and (max-width: 768px){
    .banner{
        .banner__content {
            width: 100%;
            padding: 20px;
        }
    }
    
}
@media screen and (min-width: 769px){
    .banner{
        .banner__content {
            width: 65%;
            padding: 20px;
        }
    }
    
}