.container-login {
    width: 471px !important;
    height: 438px;
    margin: 10px auto 50px auto;
    padding: 15px 15px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.25);
}

.container-login .form-title {
    margin-bottom: 60px;
}

.form-login input.input-email, .form-login input.input-pass{
    width: 100%;
    height: 44px;
    padding: 0px 0px 0px 15px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.form-login .form-check .label {
    margin-left: 10px;
}


.form-login .btn-submit {
    width: 100%;
    height: 44px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: #4F55C9;
    border-radius: 26px;
    margin: 20px 0px 0px 0px;
}

.container-login .others-links {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 20px 0px 0px 0px;
}
.container-login .others-links span {
    cursor: pointer;
}

.is-invalid {
    border-color: red !important;
}