@import '../settings/vars';

.studies {
    .studies__form {
        .row {
            .form-group {
                .form-control {
                    height: 40px;
                    margin-bottom: 20px;
                    &:focus, &:active {
                        box-shadow: none;
                    }
                }
            }

            .btn-update {
                display: flex;
                justify-content: center;
                button {
                    width: 250px;
                    height: 40px;
                    border-radius: 24px;
                    border: none;
                    color: $secondaryColor;
                    background-color: $primaryColor;
                }
            }
        }
        
    }
}