*{
    margin: 0;
    padding: 0;
}

html {
    position: relative;
}

body {
    font-family: Roboto, "Helvetica Neue", Arial, Helvetica;
    background-color: #f8f8f8;
}

a{
    text-decoration: none;
}

input {
    box-shadow: none;
}

